@media screen and (max-width: 768px) {
  .image {
    width: 100% !important;
  }
}

.image {
  width: 250px;
  margin-bottom: 1.5rem !important;
}

.article {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.article:hover {
  opacity: 0.5;
  transform: scale(0.99, 0.99);
}
